@model WebApp.ADrums.Models.vm_Connect
@{
    ViewData["Title"] = "Connect";
}

<div class="row main">
    <div class="main-login main-center">
        <form class="form-horizontal" asp-action="connect">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">COM Port</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-plug fa" aria-hidden="true"></i></span>
                        <select asp-for="COM_Port" asp-items="Model.getCOM_List()" class="form-control">
                            <option disabled selected>SELECT</option>
                        </select>
                    </div>
                    <span asp-validation-for="COM_Port" class="text-danger" />
                </div>
            </div>

            <div class="form-group ">
                <input type="submit" value="Connect" class="btn btn-primary btn-lg btn-block login-button" />
            </div>
            <div class="login-register">
                <a asp-action="help">Help</a>
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Errors))
{
    <!-- Modal -->
    <div class="modal bounceInDown animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @if (!string.IsNullOrEmpty(Model.Errors))
    {
        <script type="text/javascript">
            $(window).load(function () {
                $('#myModal').modal('show');
            });
        </script>
    }
}

<style>
    /*
    /* Created by Filipe Pina
     * Specific styles of signin, register, component
     */
    /*
     * General styles
     */

    body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-color: #d3d3d3;
        font-family: 'Oxygen', sans-serif;
    }

    .main {
        margin-top: 70px;
    }

    h1.title {
        font-size: 50px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }

    .login-button {
        margin-top: 5px;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }
</style>

